
.container {
    width: 1280px;
    margin: 0 auto;
}
.logo {
    font-size: 80px;
    color: #4bcaff;
    text-decoration: none;
}
header {
    margin-bottom: 50px;
}
span {
    color: #000000;
}
.sbar1 {
    padding: 9px 35px;
    font-size: 24px;
    display: inline-block;
}
.sbar1 a {
    text-decoration: none;
}
.sbar1:hover {
    background-color: #222f3a;
    border-left: 1px #f5f6f7;
}
.nav {
    background-color: #35444f;
    line-height: 69px;
    text-align: center;
}
.nav a {
    color: #f5f6f7;
}
 .nav li {
     list-style: none;
 }
main {
    width: 100%;
}
.content1, .content2 {
    display: inline-block;
    box-sizing: border-box;
}
.content1 {
    border: 1px solid darkblue ;
    width: 27%;
    vertical-align: top;
}
.content2 {
    margin-left: 45px;
    width: 69%;
}
.nav2 li a {
    color: #485863;
    font-size: 29px;
    text-decoration: none;
}
.nav2 a:hover {
    color: #000000;
    padding: 9px 14px;
    text-decoration: none;
}
.nav2 li:hover {
    background-color: #dbdbdb;
}
.nav2 li {
    padding: 20px 65px 20px 40px;
    list-style: none;
}
.nav2 {
    margin: 0;
    padding: 0;
}
.element1 {
    border: 1px solid darkblue;
    padding: 75px 268px 73px 297px;
}
footer {
    background-color: #b4b7ba;
    line-height: 69px;
}
.menu3 {
    display: inline-block;
    padding: 9px 10px;

}
.nsbar a {
    color: #0c1927;
    font-size: 28px;
    text-decoration: none;
}
.nsbar {
    display: inline-block;
    margin: 0;
    text-align: center;
}
.nsbar a:hover {
    color: #3181a6;
    text-decoration: underline;
}
.signature {
    margin-left: 240px;
    font-size: 23px;
}