body {
    margin: 0 auto;
}
nav {
    height: 80px;
    background: #ffffff;
    text-align: center;
}
a{
    margin: 30px;
    text-decoration: none;
    line-height: 80px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    font-family: "Courier New", serif;
    color: #16a085;
}
img {
    display: block;
    width: 100%;
}

h2{
    margin-top: 59px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #373737;
}
p{
    margin: 30px 70px;
    color: #373737;
    text-align: center;



}
button {margin-left: 527px;
    margin-top: 50px;
    margin-bottom: 90px;
    color: #ffffff;
    font-weight: bold;
    background-color: #16a085;
        padding: 23px 45px 18px 43px;
        text-transform: uppercase;
    }

footer {
max-height: 100px;
background-color: #ffffff;
}

.copyright p {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: #373737;
}
main {background-color: #f5f6f7

}
