body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.main-form-wrapper div:nth-child(9) {
    margin-bottom: 25px;
}

.float-left {
    float: left;
}

.float-right{
    float: right;
}

.header-grey-line-after-3d-icon {
    border-right: 1px solid #e2e0e0;
    width: 20px;
    height: 20px;
    top: 30%;
    left: 77%;
}

.header-sign-in-text {
    color: #fff;
}

.header-log-in-links {
    color: #316045;
}

.header-log-in-nav {
    top: 30%;
    left: 81%;
    font-size: 12px;
}

.header-logo {
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    float: left;
}

.header-logo:hover {
    color: #3cb878;
}

.header-icon-ic1 {
    background-image: url(../img/sprite.png);
    background-position: 0 -20px;
    width: 19px;
    height: 19px;
    top: 30%;
    left: 68%;
    z-index: 2;
}
.icon-ic1_hover {
    background-image: url(../img/sprite_hover.png);
    background-position: 0 -20px;
    width: 19px;
    height: 19px;
    top: 30%;
    left: 68%;
    z-index: 1;
}

.header-icon-ic2 {
    background-image: url(../img/sprite.png);
    background-position: 0 0;
    width: 28px;
    height: 20px;
    top: 30%;
    left: 71%;
    z-index: 2;
}

.icon-ic2_hover {
    background-image: url(../img/sprite_hover.png);
    background-position: 0 0;
    width: 28px;
    height: 20px;
    top: 30%;
    left: 71%;
    z-index: 1;
}

.header-icon-ic3 {
    background-image: url(../img/sprite.png);
    background-position: -28px 0;
    width: 20px;
    height: 20px;
    top: 30%;
    left: 75%;
    z-index: 2;
}

.icon-ic3_hover {
    background-image: url(../img/sprite_hover.png);
    background-position: -28px 0;
    width: 20px;
    height: 20px;
    top: 30%;
    left: 75%;
    z-index: 1;
}

.header-icon-ic1:hover,
.header-icon-ic2:hover,
.header-icon-ic3:hover{
    display: none;
}

.header-wrapper {
    padding-top: 1%;
    padding-left: 6%;
    height: 7vh;
    background-color: rgba(0,0,0,.4);
    box-sizing: border-box;
}

input:focus {
    outline: none;
    font-weight: 600;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    color: #3d4553;
}

.main-button-create-account {
    text-align: center;
    font-size: 16px;
    padding: 15px 0;
    background-color: #3cb878;
    border-radius: 2px;
    box-sizing: border-box;
    color: #fff;
}

.main-container {
    border-radius: 8px;
    background-color: #fff;
    height: 76%;
    width: 32%;
    top: 15%;
    left: 34%;
    padding: 2% 4% 5%;
    box-sizing: border-box;
}

.main-input-agreement {
    font-size: 12px;
}

.main-log-in {
    color: #316045;
}

.main-line-after-social-networks-block {
    border-bottom: 1px solid #495863;
    margin-bottom: 20px;
}

.main-or-on-line {
    color: #818181;
    font-size: 12px;
    background-color: #fff;
    height: 20px;
    width: 50px;
    text-align: center;
    left: 43%;
    bottom: -12px;

}

.main-user-data-input {
    width: 100%;
    margin-bottom: 12px;
    font-size: 12px;
    padding: 15px 10px;
    box-sizing: border-box;
}

.main-input-txt-terms-conditions {
    color: #3cb878;
}

.main-little-green-square:before {
    content: '   ';
    white-space: pre;
    color: #3cb878;
    background-color: #3cb878;
    position: absolute;
    left: 0;
}

.main-log-in {
    font-size: 12px;
    color: #3cb878;
    float: right;
}

.main-sign-up {
    font-size: 16px;
    color: #000;
}

.main-social-networks-block {
    padding: 10px 0 20px;
}

.main-social-networks-buttons {
    font-size: 12px;
    width: 48%;
    padding: 10px 25px 10px 20px;
    display: inline-block;
    border-radius: 3px;
    color: #fff;
    box-sizing: border-box;
}

.main-social-networks-buttons-icons {
    font-size: 16px;
}

.main-social-networks-buttons-gray-line {
    display: inline-block;
    float: left;
    height: 18px;
    border-right: 1px dimgrey solid;
    margin-left: 10px;
}

.main-social-networks-block a:nth-child(1) div.main-social-networks-buttons {
    background-color: #305db8;
}

.main-social-networks-block a:nth-child(2) div.main-social-networks-buttons {
    background-color: #df4a32;
    float: right;
}

::placeholder {
    color: rgba(194,194,194,.6);
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.wrapper {
    height: 100%;
    width: 100%;
    background: url(../img/rana-sawalha-364253-unsplash@1X.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
}


