.container {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}

table {
    border-width: 20px;
    border-style: solid;
    border-color: #3a4965;
    border-collapse: collapse;
    width: 1192px;
}

td {
    text-align: center;
    padding: 30px 0;

}
th {
    padding: 30px;
}

td, th {
    border: 1px solid #d9d9d9;
}
.color_green {
    background-color: #89c331;
    color: #ffffff;
    font-size: 24px;
}
.color_red {
    background-color: #f04a56;
    color: #ffffff;
    font-size: 30px;
}
.color_blue {
    background-color: #20807c;
    color: #ffffff;
    font-size: 24px;
}
.choose-your-plan {
    background-color: #fafafa;
    color: #484848;

}

.dollar {
    color: #484848;
    display: inline-block;

}



.choose-your {
    font-size: 18px;
}

.price {
    padding: 0;
    font-size: 60px;
    margin: auto 0;
    color: #484848;

}

.coins {
    padding-right: 80px;
    vertical-align: baseline;
    font-size: 24px;
}

p {
    margin: 0;
}

.per-month {
    margin: 0;
    display: inline-block;
    font-size: 18px;
}
.pricing-plan {
    font-size: 30px;
}
.background-color:nth-child(2n) {
    background-color: #e3e3e3;
}
.background-color:nth-child(odd) {
    background-color: #f2f2f2;
}

.background-color {
    text-decoration: #f2f2f2;
    color: #848484;
}

.background-grey-bth {
    background-color: #dddddd;
}
.grey-btn {
    width: 192px;
    height: 49px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    border-radius: 6px;
    background: linear-gradient(to bottom, #484848 85%, #404040 15%);
    border-color: #484848;
}

.grey-btn:hover {
    color: #FF9933;
    font-size: 20px;
}

.green-btn {
    width: 192px;
    height: 49px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    border-radius: 6px;
    background: linear-gradient(to bottom, #89c331 85%, #79b027 15%);
    border-color: #79b027;
}

.green-btn:hover {
    color: #FF9933;
    font-size: 20px;
}

.red-btn {
    width: 192px;
    height: 49px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    border-radius: 6px;
    background: linear-gradient(to bottom, #f04a56 85%, #df3a46 15%);
    border-color: #df3a46;
}

.red-btn:hover {
    color: #FF9933;
    font-size: 20px;
}

.blue-btn {
    width: 192px;
    height: 49px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    border-radius: 6px;
    background: linear-gradient(to bottom, #20807c 85%, #16736f 15%);
    border-color: #16736f;
}

.blue-btn:hover {
    color: #FF9933;
    font-size: 20px;
}